/* settings */

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Sen', sans-serif; */
}
a {
    text-decoration: none;
    color: #fff;
}
h1,h2,h3 {
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1420px;
    width: 100%;
    margin: auto;
}
.button{
    border: none;
    background: none;
    padding: 14px 30px 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.button--primary{
    font-family: 'Roboto', sans-serif;
    background: #0094FF;
    color: #fff;
}
.button--secondary{
    border: 1px solid #fff;
    transition: all .3s;
}
.button--secondary:hover{
    background: #0094FF;
    color: #fff;
    border: 1px solid#0094FF;
}
.title{
    color: #0094FF;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.input{
    border: none;
    background: #fff;
    text-indent: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}
.input :active, .input:hover, .input:focus {
    outline: 0;
    outline-offset: 0;
}
.input::placeholder{
    color: #000;
}
textarea::placeholder{
    color: 000;
}

.header-top--burger{
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 0;
    width: 100%;
    background: #212121;
}

/* header */

.header{
    background-color: #212121;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header-top__logo{
    display: none;
    max-width: 80px;
}
.header-top__img{
    max-width: 80px;
}
.header-top-info{
    display: flex;
    align-items: center;
}
.header-top-info__item{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 50px;
}
.header-top-info__item:last-of-type{
    margin-right: 0;
}
.header-info-item__img{
    margin-right: 10px;
    max-width: 25px;
}
.header-top-social{
    display: flex;
    align-items: center;
}
.header-top-social__item{
    max-width: 25px;
    margin-right: 15px;
    transition: transform .3s;
}
.header-top-social__item:last-of-type{
    margin-right: 0;
}
.header-top-social__item:hover{
    /* transform: scale(1.2); */
    transform: translateY(-3px);
}
.header-top-social__img{
    max-width: 25px;
}
.header-bottom{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 40px 0;
    z-index: 1;
    position: relative;
}
.header-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-bottom__logo{
    margin-right: 140px;
    transition: transform .3s;
}
.header-bottom__logo:hover{
    transform: scale(1.1);
}
.header-bottom__img{
    max-width: 120px;
}
.header-bottom__logo-text{
    font-size: 32px;
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    margin-right: 105px;
}
.header-bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px 30px 25px;
    border-bottom: 2px solid #fff;
}
.header-bottom-nav__item{
    margin-right: 50px;
    transition: color .3s;
}
.header-bottom-nav__item:last-of-type{
    margin-right: 0;
}
.header-bottom-nav__item:hover{
    color: #0094FF;
}
.header__button{
    color: #fff;
    padding: 12px 20px 15px 40px;
    position: relative;
}
.header__button::before{
    content: '';
    position: absolute;
    top: 25%;
    left: 12px;
    width: 20px;
    height: 20px;
    background: url('../img/profile.png') no-repeat center / cover;
}
.header__button--regist::before{
    background: url('../img/regist-white.png') no-repeat center / cover;
}

/* hero */

.hero{
    background: url('../img/hero-bg-0.jpg') no-repeat center / cover;
    padding: 185px 0 70px 0;
    height: 900px;
    margin-top: -165px;
    position: relative;
    transition: all .5s;
}
.hero::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.hero__title{
    font-family: 'Sen', sans-serif;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 40px;
}
.hero__desc{
    max-width: 465px;
    text-align: center;
    font-size: 38px;
    font-weight: lighter;
    margin-top: auto;
    /* margin-bottom: 408px; */
}
.hero-slider{
    height: 500px;
}
.hero-slider-dots{
    position: absolute;
    bottom: 10%;
    left: 47%;
    display: flex;
    align-items: center;
}
.hero-slider-dots__item{
    margin-right: 30px;
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 1);
    opacity: 0.5;
    border-radius: 24px;
    cursor: pointer;
    transition: opacity .5s;
}
.hero-slider-dots__item:last-of-type{
    margin-right: 0;
}
.hero-slider-dots__item--active{
    opacity: 1;
    width: 20px;
    height: 20px;
}
.hero-slider__button{
    width: 50px;
    height: 80px;
    position: relative;
    transition: transform .3s;
}
.hero-slider__button:first-of-type{
    background: url('../img/arrow-right.svg') no-repeat center;
    position: absolute;
    top: 50%;
    left: 40px;
}
.hero-slider__button:first-of-type:hover{
    transform: translateX(-7px);
}
.hero-slider__button:last-of-type{
    background: url('../img/arrow-left.svg') no-repeat center;
    position: absolute;
    top: 50%;
    right: 40px;
}
.hero-slider__button:last-of-type:hover{
    transform: translateX(7px);
}
.hero-slider__item{
    position: absolute;
    top: 0;
    opacity: 0;
    /* margin-top: 150px; */
}
.hero-slider__item--active{
    opacity: 1;
}


/* about */

.about{
    padding: 120px 0 0 0;
    background: url('../img/marcart-logo-grey.svg') no-repeat top center;
}
.about__title{
    margin-bottom: 85px;
}
.about-content{
    display: flex;
    justify-content: space-between;
}
.about-content__text{
    color: #414141;
    max-width: 710px;
}
.about-bottom{
    background: url('../img/about-bg-dark.png') no-repeat top / cover;
    padding-top: 232px;
    padding-bottom: 85px;
}
.about-row{
    display: flex;
    justify-content: space-between;
}
.about-row:first-of-type{
    margin-bottom: 35px;
}
.about-row-card{
    border-radius: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-row-card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 24px;
}
.about-row:first-of-type .about-row-card:first-of-type{
    padding: 152px 0;
    background: url('../img/review.jpg') no-repeat center / cover;
    max-width: 490px;
    width: 100%;
}
.about-row:first-of-type .about-row-card:last-of-type{
    padding: 152px 0;
    background: url('../img/service.jpg') no-repeat center / cover;
    max-width: 900px;
    width: 100%;
}
.about-row:last-of-type .about-row-card:first-of-type{
    padding: 144px 0;
    background: url('../img/kachestvo.jpg') no-repeat center / cover;
    max-width: 640px;
    width: 100%;
}
.about-row:last-of-type .about-row-card:last-of-type{
    padding: 144px 0;
    background: url('../img/group.jpg') no-repeat center / cover;
    max-width: 750px;
    width: 100%;
}
.about-row:first-of-type .about-card__desc{
    max-width: 390px;
}
.about-card__title{
    color: #0094FF;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    position: relative;
}
.about-card__desc{
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    position: relative;
    font-weight: lighter;
}

/* cars */

.cars{
    padding: 253px 0 384px;
    background: url('../img/cars/granta-sedan.jpg') no-repeat center / cover;
}
.cars-line--wrapper{
    display: flex;
    padding-left: 160px;
}
.cars-line{
    border-bottom: 1px solid #fff;
    padding: 0 15px 10px;
}
.cars-line__item{
    cursor: pointer;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    margin-right: 30px;
}
.cars-line__item:last-of-type{
    margin-right: 0;
}
.cars-line__item.active{
    color: #0094FF;
}
.cars-info{
    display: flex;
    margin-top: 65px;
}
.cars-info-desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 40px;
}
.cars-info__name{
    font-family: 'Sen';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 20px;
}
.cars-info__price{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    color: #74C5FF;
    margin-bottom: 20px;
}
.cars__button{
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    padding: 10px 55px 15px;
    border-radius: 24px;
}
.cars-models{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 25px 10px 0;
    border-right: 1px solid #fff;;
}
.cars-models__item{
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 45px;
    cursor: pointer;
}
.cars-models__item:last-of-type{
    margin-bottom: 0;
}
.cars-models__item.active{
    color: #0094FF;
}

/* service */

.service{
    padding: 60px 0;
}
.service__title{
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 85px;
}
.service__desc{
    font-size: 28px;
    line-height: 34px;
    color: #414141;
    margin-bottom: 40px;
}
.service-list{
    display: flex;
    justify-content: center;
}
.service-list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #646464;
    border-right: none;
    padding: 52px 25px;
    max-width: 355px;
    width: 100%;
    height: 362px;
    overflow: hidden;
    transition: .7s;
}
/* .service-list__item:hover{
    padding-top: 20px;
} */
.service-list__item:hover .service-item__img{
    margin-bottom: 15px;
}
.service-list__item:hover .service-list__item:last-of-type .service-item__img{
    margin-top: 15px;
}
.service-list__item:hover .service-item__text{
    opacity: 1;
}
.service-list__item:last-of-type{
    border-right: 1px solid #646464;
}
.service-item__img{
    max-width: 110px;
    margin-bottom: 70px;
    transition: .5s;
}
.service-item__title{
    max-width: 263px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #0094FF;
    margin-bottom: 15px;
}
.service-item__text{
    color: #212121;
    font-size: 16px;
    transition: opacity .7s;
    opacity: 0;
}
/* contact */

.contact{
    padding: 60px 0;
    background: #212121;
}
.contact__title{
    margin-bottom: 40px;
}
.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-desc .header-top-info__item{
    font-size: 22px;
    margin-bottom: 24px;
}
.contact-desc .header-top-info__item:last-of-type{
    margin-bottom: 54px;
}

.contact-form__input{
    width: 100%;
    height: 50px;
}
.contact-form-group{
    display: flex;
}
.contact-form__input{
    margin-bottom: 22px;
}
.contact-form__input:first-of-type{
    margin-right: 15px;
}
.contact-form .input-textarea{
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    height: 145px;
    margin-bottom: 30px;
    resize: none;
}
.contact-form__button{
    width: 100%;
    border-radius: 24px;
}
.contact-form__status{
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}

/* footer */

.footer{
    padding: 20px 0;
    background: #212121;
    border-top: 1px solid #fff;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 42px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.7);
}
.footer-copyright__text{
    color: rgba(255, 255, 255, 0.7);
}

/* media (adaptation) */

@media only screen and (max-width: 1500px) {
    .container{
        width: 90%;
    }
    .about-content__img{
        max-width: 550px;
    }
    .header-bottom__logo{
        margin-right: 70px;
    }
    .about-row:first-of-type .about-row-card:last-of-type{
        max-width: 800px;
    }
    .about-row:last-of-type .about-row-card:last-of-type{
        max-width: 650px;
    }
}
@media only screen and (max-width: 1430px) {
    .service-list__item{
        height: 430px;
    }
}
@media only screen and (max-width: 1460px) {
    .header-bottom__logo {
        margin-right: 30px;
    }
    .about-content__img{
        max-width: 450px;
    }
    .about-row:first-of-type .about-row-card:last-of-type{
        max-width: 750px;
    }
    .about-row:last-of-type .about-row-card:last-of-type {
        max-width: 610px;
    }
    .map{
        width: 60%;
    }
}

@media only screen and (max-width: 1360px) {
    .header-bottom{
        justify-content: space-between;
    }
    .header-bottom-content{
        width: 78%;
    }
    .header-bottom__logo{
        margin-right: 0;
    }
    .about-row:first-of-type .about-row-card:first-of-type{
        max-width: 420px;
    }
    .about-row:last-of-type .about-row-card:first-of-type{
        max-width: 580px;
    }
    .contact-desc{
        width: 35%;
    }
    .header-bottom-nav{
        display: block;
    }
    .header-bottom__logo-text{
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .about-row:last-of-type .about-row-card:last-of-type{
        max-width: 560px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
	.hero-content{
        margin-top: 120px;
    }
    .header-bottom-content {
        width: 83%;
    }
    .about-content__text{
        max-width: 550px;
    }
    .about-row:first-of-type .about-row-card:last-of-type{
        max-width: 630px;
    }
    .about-row:last-of-type .about-row-card:last-of-type{
        max-width: 460px;
    }
    .service-list__item{
        padding-top: 30px;
    }
    .service-item__title{
        font-size: 20px;
    }
    .contact-content{
        display: block;
    }
    .map{
        margin-bottom: 40px;
    }
    .contact-desc{
        width: 100%;
    }
    .header__button--auth{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1085px) {
    .header-bottom-nav{
        padding: 0;
        padding-bottom: 30px;
    }
    .header-auth{
        display: flex;
        flex-direction: column;
    }
    .about__title{
        margin-bottom: 40px;
    }
    .about-content{
        justify-content: center;
    }
    .about-content__text{
        max-width: 850px;
        text-align: center;
    }
    .about-content__img{
        display: none;
    }
    .about-row{
        display: block;
    }
    .about-row:first-of-type{
        margin-bottom: 0;
    }
    .about-row:first-of-type .about-row-card:first-of-type{
        padding: 40px 0;
        max-width: 850px;
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
    }
    .about-row:first-of-type .about-row-card:last-of-type{
        padding: 40px 0;
        max-width: 850px;
        width: 100%;
        padding: 40px 0;
        margin: auto;
        margin-bottom: 30px;
    }
    .about-row:last-of-type .about-row-card:first-of-type{
        padding: 40px 0;
        max-width: 850px;
        width: 100%;
        padding: 40px 0;
        margin: auto;
        margin-bottom: 30px;
    }
    .about-row:last-of-type .about-row-card:last-of-type{
        padding: 40px 0;
        max-width: 850px;
        width: 100%;
        padding: 40px 0;
        margin: auto;
    }
    .about-row:first-of-type .about-card__desc{
        max-width: 800px;
    }
    .about-row:last-of-type .about-card__desc{
        max-width: 500px;
    }
    .service-list{
        flex-wrap: wrap;
    }
    .service-list__item{
        border-right: 1px solid #646464;
        height: 360px;
    }
    .service-list__item:nth-of-type(2n-1){
        border-right: none;
    }
    .service-list__item:nth-of-type(1){
        border-bottom: none;
    }
    .service-list__item:nth-of-type(2){
        border-bottom: none;
    }
    .map{
        width: 80%;
        margin: 0 auto 20px auto;
    }
}



/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
	.map{
        display: none;
    }
}

@media only screen and (max-width: 950px) {
    /* .header-logo{
        display: flex;
        justify-content: center;
    } */
    .header-bottom__logo{
       height: 86px; 
       margin: auto;
    }
    .header-bottom{
        display: block;
    }
    .header-bottom-content{
        margin: auto;
    }
    .header-bottom__logo-text{
        display: none;
    }
    .hero{
        margin-top: -250px;
    }
}

@media only screen and (max-width: 920px) {
    .title{
        font-size: 36px;
    }
    .header{
        position: fixed;
        top: -600%;
        left: 0;
        width: 100%;
        height: 50%;
        background: #212121;
        margin-left: 0;
        z-index: 2;
        padding: 180px 0 0 0;
        transition: all .5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header.open{
        top: 0;
        padding: 0;
        max-width: 100%;
        height: 100vh;
    }
    .header-top{
        justify-content: center;
        margin-bottom: 30px;
    }   
    .header-logo{
        display: none;
    }
    .header-top--burger{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .header-top-info{
        flex-direction: column;
        align-items: flex-start;
    }
    .header-top__img--burger{
        max-width: 50px;
    }
    .header-top-info__item{
        margin-bottom: 20px;
    }
    .header-top-social{
        display: none;
    }
    .header-bottom{
        padding: 0;
    }
    .header-bottom-content{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }
    .header-nav{
        display: flex;
        flex-direction: column;
    }
    .header-bottom-nav{
        border-bottom: none;
    }
    .header-bottom-nav__item{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .hero{
        margin-top: -190px;
    }
    .hero__title{
        font-size: 50px;
    }
    .hero__desc{
        margin-bottom: 60px;
        font-size: 30px;
    }
    .about{
        padding-top: 50px;
    }
    .cars{
        padding: 100px 0 150px;
    }
    .cars-line__item{
        font-size: 22px;
    }
    .cars-info{
        margin-top: 30px;
        margin-left: 30px;
    }
    .cars-info-desc{
        padding: 10px 20px;
    }
    .cars-models__item{
        font-size: 22px;
    }
    .cars-info__name{
        font-size: 26px;
    }
    .cars-info__price{
        font-size: 26px;
    }
    .cars__button{
        font-size: 16px;
        padding: 7px 30px 11px;
    }
    .service{
        padding: 30px 0;
    }
    .contact{
        padding: 30px 0;
    }
    .contact-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact-desc .header-top-info__item{
        margin-bottom: 40px;
        margin-right: 0;
    }
    .contact-desc .header-top-info__item:last-of-type{
        margin-bottom: 40px;
    }
    /* header-borgir */
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .3s ease-in-out;
        margin-right: 10px;
        z-index: 4;
    }
    .menu-btn__burger {
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::after,
    .menu-btn__burger::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
    }
    .menu-btn__burger::before {
        transform: translateY(-10px);
    }
    .menu-btn__burger::after {
        transform: translateY(10px);
    }
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
    }
    .menu-btn.open .menu-btn__burger::before {
        transform:  rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
        transform:  rotate(-45deg) translate(35px, 35px);
    }
    /* ---------------------------------------------------- */
    /* .header{
        position: absolute;
        top: -600%;
        left: 0;
        width: 100%;
        height: 50%;
        background: #212121;
        margin-left: 0;
        z-index: 2;
        padding: 180px 0 0 0;
        transition: all .5s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */

    
}
@media only screen and (max-width: 830px) {
    .contact-top{
        display: block;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 790px) {
    .hero {
        height: auto;
    }
    .hero-slider{
        height: 300px;
    }
    .hero-slider__button{
        display: none;
    }
    .hero-slider-dots{
        display: none;
    }
	.about-content__text{
        font-size: 20px;
    }
    .about-bottom{
        margin-top: -30px;
        padding-top: 180px;
    }
    .about-card__title{
        font-size: 28px;
    }
    .about-card__desc{
        font-size: 20px;
    }
    .about-row-card{
        padding: 20px 10px;
    }
    .service-item__img{
        margin-bottom: 30px;
    }
    .service-list__item:nth-of-type(2n-1){
        border-right: 1px solid #646464;
    }
    .footer .header-top-info{
        display: none;
    }
    .footer-nav{
        margin-top: 10px;
    }

}

@media only screen and (max-width: 590px) {
    .footer .header-bottom-nav__item{
        margin-right: 30px;
        font-size: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .cars{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .cars-line--wrapper{
        padding-left: 0;
    }
	.cars-info{
        display: block;
        margin-top: 20px;
        margin-left: 0;
        padding: 0;
    }
    .cars-models{
        border-right: none;
        flex-direction: row;
        padding: 0;
        padding-left: 15px;
    }
    .cars-models__item{
        margin-right: 30px;
        margin-bottom: 0;
    }
    .cars-models__item:last-of-type{
        margin-right: 0;
    }
    .cars-info__name{
        margin-bottom: 0;
        margin-top: 25px;
    }
    .footer-nav{
        margin-top: 0;
        margin-bottom: 0;
    }
    .footer-nav-list{
        display: none;
    }
}
@media only screen and (max-width: 480px) {
    .title{
        font-size: 28px;
        margin-bottom: 30px;
    }
    .service__desc{
        font-size: 18px;
    }
    .service-list__item{
        max-width: 285px;
    }
    .service-list__item:nth-of-type(3){
        border-bottom: none;
    }
}
@media only screen and (max-width: 430px) {
    .about-content__text{
        font-size: 16px;
    }
    .about-card__title{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .about-card__desc{
        font-size: 16px;
    }
    .cars-line__item{
        font-size: 20px;
    }
    .cars-models__item{
        font-size: 20px;
    }
    .service-list__item{
        max-width: 240px;
        padding: 20px 10px;
    }
    .service-item__title{
        font-size: 16px;
    }
    .service-item__img{
        max-width: 70px;
    }
    .contact-desc .header-top-info__item{
        font-size: 16px;
    }
    .footer-copyright{
        font-size: 12px;
    }
}
@media only screen and (max-width: 370px) {
    .header-top-social{
        display: none;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .about-bottom{
        padding-top: 130px;
        padding-bottom: 50px;
    }
	.cars{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cars-info{
        margin-top: 0;
    }
    .cars-line{
        padding-bottom: 0;
    }
    .cars-info__name{
        margin-top: 15px;
        line-height: 30px;
    }
    .cars-info-desc{
        padding: 0;
        padding-left: 15px;
    }
}